.sidebarRow {
    display: flex;
    align-items: center;
    padding: 0.625rem;
    cursor: pointer;
}

.sidebarRow:hover {
    background-color: lightgray;
    border-radius: 0.625rem;
}

.sidebarRow>h4 {
    margin-left: 1.25rem;
    font-weight: 600;
}

.sidebarRow>.MuiSvgIcon-root {
    font-size: xx-large;
    color: #2e81f4;
}